Options +FollowSymLinks
RewriteEngine On
Options -Indexes

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

php_value upload_max_filesize 5000M
php_value post_max_size 500M
php_value max_execution_time 300
php_value max_input_time 300

# Main Pages
RewriteRule ^home/?$ ./?page=home
RewriteRule ^newest/?(.*)/?$ ./?page=newest&pagination=$1
RewriteRule ^browse/?(.*)/?$ ./?page=browse&pagination=$1
RewriteRule ^schedule/?(.*)/?$ ./?page=schedule
RewriteRule ^changelog/?$ ./?page=changelog

# Account Pages
RewriteRule ^signin/?$ ./?page=signin
RewriteRule ^signup/?$ ./?page=signup
RewriteRule ^confirm/(.+)/?$ ./?page=confirm&token=$1
RewriteRule ^forgot/?$ ./?page=forgot
RewriteRule ^reset/(.+)/?$ ./?page=reset&token=$1
RewriteRule ^signout/?$ ./?page=signout
RewriteRule ^user/(.+)/?$ ./?page=user&id=$1
RewriteRule ^settings/?$ ./?page=settings
RewriteRule ^follows/?$ ./?page=follows
RewriteRule ^watchlist/(.+)?$ ./?page=follows&id=$1

# Forum Pages
RewriteRule ^forum/?$ ./?page=forum
RewriteRule ^forum/home/?$ ./?page=forum&action=home
RewriteRule ^forum/new/?$ ./?page=forum&action=new
RewriteRule ^forum/viewforum/(.+)/?$ ./?page=forum&action=viewforum&id=$1
RewriteRule ^forum/editforum/(.+)/?$ ./?page=forum&action=editforum&id=$1
RewriteRule ^forum/viewthread/(.+)/?$ ./?page=forum&action=viewthread&id=$1

# Anime Pages
RewriteRule ^add_anime/?$ ./?page=add_anime