# .htaccess - Mononoke

Options +FollowSymLinks
RewriteEngine On
Options -Indexes

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

php_value upload_max_filesize 5000M
php_value post_max_size 500M
php_value max_execution_time 300
php_value max_input_time 300

# Main Pages
RewriteRule ^home/?$ ./?page=home
RewriteRule ^newest/ep/?(.*)/?$ ./?page=newest&tab=episodes&pagination=$1
RewriteRule ^newest/an/?(.*)/?$ ./?page=newest&tab=anime&pagination=$1
RewriteRule ^browse/?(.*)/?$ ./?page=browse&pagination=$1
RewriteRule ^schedule/?(.*)/?$ ./?page=schedule
RewriteRule ^changelog/?$ ./?page=changelog

# Account Pages
RewriteRule ^signin/?$ ./?page=signin
RewriteRule ^signup/?$ ./?page=signup
RewriteRule ^confirm/(.+)/?$ ./?page=confirm&token=$1
RewriteRule ^forgot/?$ ./?page=forgot
RewriteRule ^reset/(.+)/?$ ./?page=reset&token=$1
RewriteRule ^signout/?$ ./?page=signout
RewriteRule ^user/(.+)/?$ ./?page=user&id=$1
RewriteRule ^settings/?$ ./?page=settings
RewriteRule ^follows/?$ ./?page=follows
RewriteRule ^watchlist/(.+)?$ ./?page=follows&id=$1

# Forum Pages
RewriteRule ^forum/?$ ./?page=forum
RewriteRule ^forum/home/?$ ./?page=forum&action=home
RewriteRule ^forum/new/?$ ./?page=forum&action=new
RewriteRule ^forum/viewforum/(.+)/?$ ./?page=forum&action=viewforum&id=$1
RewriteRule ^forum/editforum/(.+)/?$ ./?page=forum&action=editforum&id=$1
RewriteRule ^forum/viewthread/(.+)/?$ ./?page=forum&action=viewthread&id=$1

# Anime Pages
RewriteRule ^add_anime/?$ ./?page=add_anime
RewriteRule ^edit_anime/(.+)/?$ ./?page=edit_anime&id=$1
RewriteRule ^anime/(.+)/?$ ./?page=anime&id=$1


# Episodes Pages
RewriteRule ^add_episode/(.+)/?$ ./?page=add_episode&id=$1
RewriteRule ^edit_episode/(.+)/?$ ./?page=edit_episode&id=$1
RewriteRule ^watch/(.+)-(.+)-(.+)/?$ ./?page=watch&id=$1&ep=$2&type=$3

# Episode Pages
RewriteRule ^add_episode/(.+)/?$ ./?page=add_episode&id=$1
RewriteRule ^edit_episode/(.+)/?$ ./?page=edit_episode&id=$1
RewriteRule ^watch/(.+)/(.+)/?$ ./?page=watch&id=$1&ep=$2

# System Pages
RewriteRule ^sys/schedule/?$ ./?page=mod&action=schedule

ErrorDocument 404 "Error 404: Page not found!"